.saveChatContainer {
  position: fixed;
  top: 47%;
  left: 55%;
  transform: translate(-50%, -50%);
  background-color: "#FFF";
  padding: 2rem;
  z-index: 1000;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  background-color: rgb(10, 32, 76);
  /* text-align: center; */
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.hedline {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

.saveChatForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.file-title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.textarea {
  width: 100%;
  height: 4rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-radius: 0.4rem;
  font-family: "Poppins", sans-serif;
  outline: none;
}
.title-input {
  width: 100%;
  padding: 0.8rem 1rem;
  box-sizing: border-box;
  border-radius: 0.2rem;
  font-family: "Poppins", sans-serif;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 20px;
}

.modaltxt {
  font-family: "Poppins", sans-serif;
}

.save-chat-btn{
  margin: 1rem;
  border-radius: 1rem;
  outline: none;
  background-color:rgb(87, 241, 82);
  border: none;
  font-family: "Poppins", sans-serif;
  padding: 0.7rem 4rem;
}

.cancel-chat-btn {
  padding: 0.7rem 4rem;
  margin: 1rem;
  border-radius: 1rem;
  outline: none;
  background-color:rgb(246, 33, 33);
  border: none;
  font-family: "Poppins", sans-serif;
  margin-top: auto;
}

.cancel-chat-btn:hover {
  background-color:rgb(252, 101, 101) ;
}

.save-chat-btn:hover {
  background-color: rgb(127, 245, 123);
  transition:ease-in-out;
}

.Save-Chat-Btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}