.filePage {
  background-color: black;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(4, 1, 20);
  /* background-color: rgb(61, 51, 112); */
}

.myFiles-area-container {
  margin: 1rem 2.7rem;
}

.filesHeadline {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 2rem;
  /* margin-left: 3.0rem; */
}

.line {
  width: auto;
  margin: 0 3rem;
  height: 1px;
}

.file-render-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0rem;
}

.continue-chat {
  color: white;
  background-color: #5a4bff;
  cursor: pointer;
  border-radius: 1rem;
  font-family: "Poppins", sans-serif;
  border: none;
  padding: 0.3rem 0.8rem;
}
.continue-chat:hover {
  background-color: #8e86ea;
}

.download-btn {
  color: white;
  background-color: #15973a;
  cursor: pointer;
  border-radius: 1rem;
  font-family: "Poppins", sans-serif;
  border: none;
  padding: 0.3rem 0.8rem;
}

.download-btn:hover {
  background-color: #3adf69;
}

.files-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.no-file {
  font-family: "Poppins";
  color: white;
  font-size: 2.3rem;
  text-align: center;
  margin-top: 15%;
}
