.modal-backround {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.modal-content {
  position: fixed;
  /* top: 42%;
  left: 50%; */
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(255, 255, 255, 0.13); */
  background-color: white;
  /* background-color: rgba(255, 255, 255); */
  padding: 2rem;
  z-index: 1000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  text-align: center;
  background-color: rgb(3, 11, 44);
}

.modal-btns {
  position: absolute;
  bottom: 1%;
  right: 1%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 0.2rem;
}

.modal-title {
  color: black;
  font-family: "Arial";
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  /* float: left; */
  margin-right: auto;
  color: white;
}

.confrim-btn {
  padding: 0.5rem 2rem;
  border-radius: 1.1rem;
  outline: none;
  color: white;
  border: none;
  background-color: #5a4bff;
}

.cancel-btn {
  padding: 0.5rem 2rem;
  border-radius: 1.1rem;
  outline: none;
  color: white;
  border: none;
  background-color: #dd1717;
}

.confrim-btn:hover {
  background-color: #9391ac;
}

.cancel-btn:hover {
  background-color: #f55e5e;
}

.line {
  margin: 0;
}
