* {
    margin: 0;
  }
  
  .App {
    /* background-color: #dddedd; */
    /* background-color: rgb(3,0,31);  */
    /* background-color: white; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  