.sidebar-container {
  background-color: rgb(139, 216, 31);
  background-color: rgb(4, 1, 35);

  /* background-color: rgb(8, 6, 49); */
  display: flex;
  flex-direction: column;
  flex: 0.2;
  border-right: 1px solid rgb(100, 100, 100);
  /* margin-right: 1rem; */
}
.sb-header {
  background-color: white;
  border-radius: 20px;
  padding: 10px 5px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.sb-search {
  background-color: white;
  border-radius: 20px;
  padding: 0.2rem 0.2rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgb(28, 30, 58, 1);
  height: 1.9rem;
  margin-bottom: 1rem;
  background-color: #1E2A3A;

}

.search-box {
  outline-width: 0;
  border: none;
  font-size: 1.2rem;
  background-color: rgb(28, 30, 58, 1);
}

.sb-conversations {
  border-radius: 20px;
  flex: 1;
}

.no-conversations {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(28, 30, 58, 1); */
  border-radius: 1rem;
  font-family: "Poppins";
}

.noChatIcon {
  height: 5rem;
  width: 5rem;
  color: #7368f3;
}

.sb-new {
  color: white;
  background-color: #5a4bff;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 1.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}

.sb-new:hover {
  background-color: #7368f3;
}

.img108 {
  width: 5rem;
  height: 5rem;
}

.sb-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

.pro-name {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.pro-username {
  color: #5a4bff;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  /* margin-left: 2.5rem; */
  margin-left: auto;
  margin-right: 1rem;
  background-color: aliceblue;
  padding: 0.4rem;
  border-radius: 1rem;
  background-color: #5a4bff;
  color: white;
}

.container-logout {
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #5a4bff;
  padding: 0.3rem;
  border-radius: 1rem;
  margin-top: 2rem;
}

.userIndicator:hover {
  background-color: rgb(28, 30, 58, 1);
}

.sb-conversations::-webkit-scrollbar {
  width: 0; /* Set the width of the scrollbar to 0 */
}


.chat-headline {
  color: white;
  font-family: 'poppins';
  color: #7368f3;
  font-size: 1.2rem;
}

.contain {
  margin: 0rem 0.9rem;
}